[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git

[submodule "roles/httpd"]
	path = roles/httpd
	url = https://github.com/bertvv/ansible-role-httpd.git

[submodule "roles/kibana"]
	path = roles/kibana
	url = https://github.com/geerlingguy/ansible-role-kibana.git
[submodule "roles/java"]
	path = roles/java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "roles/ansible-role-apache"]
	path = roles/ansible-role-apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "roles/ansible-role-logstash"]
	path = roles/ansible-role-logstash
	url = https://github.com/stevshil/ansible-role-logstash.git
